<?xml version="1.0" encoding="UTF-8"?>
<configuration scanPeriod="30 seconds">
    <!-- Include default Spring Boot logging rules -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Example profile-specific setup -->
    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
</configuration>
